<h2>Show post</h2>

<section class="panel b-blue" id="1">
  <article class="panel__wrapper">
    <div class="panel__content">
      <h1 class="panel__headline"><i class="fa fa-camera-retro"></i>&nbsp;<%=@post.title%></h1>
      <div class="panel__block"></div>
      <p><%= @post.body %></p>
      <div style="float: right;">
       <%= link "edit post", to: post_path(@conn, :edit, @post), class: "list-unstyled" %>
      </div>
    </div>
  </article>
</section>
